ARKMATX_ENVIRONMENT=development
ARKMATX_DATABASE_PATH=data/arkmatx.sqlite3
ARKMATX_MASTER_KEY=
ARKMATX_BOXBRAIN_URL=
ARKMATX_BOXBRAIN_TOKEN=
ARKMATX_ALLOW_NETWORK_PROBES=false
ARKMATX_ALLOW_PRIVATE_TARGETS=false
